<div class="row">
  <div class="col-md-12">
    <h1>{{todo.item}}</h1>
  </div>

  <div class="col-md-4">
    <br>
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>status:</strong> {{todo.status}}</li>
        <li><strong>Deadline:</strong> {{todo.deadline}}</li>
        <li><strong>Category:</strong> {{todo.category}}</li>
      </ul>
    </div>
  </div>

  <hr>
</div>

<hr>

<br />
<br />
<a href="javascript:history.back()">回上一頁</a>